<T01> Referees have ultimate authority during the competition. Their rulings are final.
a. The referees will not review any recorded replays.
b. Any questions for the referees must be brought forward by a student drive team member
within the time period of two (2) qualifying matches or immediately after the score is announced of an elimination match.

<T02> The only people from a team permitted by the playing field are the three drive team members who are identified by the drive team badges. These badges are interchangeable but not during a match.

<T03>During matches, two teams from an alliance will play on the field. Any team which sits out the first match in an elimination series, must play in the second match, with no exceptions. In the third and any subsequent matches, any two of the three teams may play. Prior to each Elimination Match, the Alliance Captain must let the referee know which two teams will be playing in the upcoming match.
   
<T04> There are no time outs in the qualifying rounds; in the elimination rounds, each alliance will be allotted ONE time out of no more than three minutes, as permitted by the head referee. The matches must progress according to schedule.
a. If a robot cannot report for a match, at least one member of the team should report to the field for the match.

<T05> All Drive Team Members, must wear safety glasses or glasses with side shields while in the Alliance stations during matches. While in the pit area it is highly recommended that all team members wear safety glasses.